.contact-item {
  padding: 6px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  &:hover {
    background-color: #f7f7f7;
  }
  .avatar {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 10px;
    background-size: cover;
  }
  .username {
    font-size: 14px;
    color: #000000;
  }
}