.auth-left {
  height: 100vh;
}

.auth-right {
  background-image: url("/images/bg_auth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(121, 191, 67);
  height: 100vh;
}