.btn-confirm-friend {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ecf7e7;
  border-color: #ecf7e7;
  color: #6fbe44 !important;
  &:hover {
    background-color: #6fbe44;
    border-color: #6fbe44;
    color: #fff !important;
  }
}
